body{
    /*width: 1440px;*/
    width: 100vw;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.attribution { 
    margin: auto;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

#login{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

#signup{
    border-radius: 20px; 
    background-color: hsl(180, 66%, 49%);
    color: white;
}

.features{
    padding-top: 10%;
    margin-bottom: 15%;
}
.features button{
    background-color: hsl(180, 66%, 49%);
    border-radius: 20px;
    color: white;
    width: 130px;
    border: none;
    height: 37px;
}

.features p{
    color:hsl(257, 7%, 63%);
}

#intro{
    font-weight: 700;
    font-size: 66px;   
}

#bg{
    background-color:  hsl(0, 0%, 95%);
}

.shortenurl{
    width: 80vw;
    height: 100px;
    margin: auto;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221110%22%20height%3D%22168%22%3E%3Cpath%20fill%3D%22%234B3F6B%22%20fill-rule%3D%22evenodd%22%20d%3D%22M647-93.924c0%2052.724%2015.5%2090.486%2073%20114.877%2057.5%2024.391%20113.055%202.134%20168.786%2014.894%2055.731%2012.76%2055.731%2094.962%20108.214%20145.549s163.142%2062.874%20253.12%2011.552c89.976-51.322%20130.765-171.152%20103.88-241.807C1327.115-119.515%201275.593-184%201027-184c-248.593%200-380%2037.353-380%2090.076zm-781%20213c0%2052.724%2015.5%2090.486%2073%20114.877%2057.5%2024.391%20113.055%202.134%20168.786%2014.894%2055.731%2012.76%2055.731%2094.962%20108.214%20145.549s163.142%2062.874%20253.12%2011.552C559.095%20354.626%20599.884%20234.796%20573%20164.141%20546.115%2093.485%20494.593%2029%20246%2029c-248.593%200-380%2037.353-380%2090.076z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:hsl(255, 11%, 22%);
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 30px;   
}

#shortenitbtn{
    background-color: hsl(180, 66%, 49%);
    border-radius: 5px;
    color: white;
    width: 150px;
    border: none;
    height: 45px;
    margin-left: 15px;
    margin-right: 20px;
}

#shortenit{
    width: 10vw;
    border-radius: 5px;
    height: 45px;
}

.advstats{
    padding-top: 20vh;
}

.advstats p{
    color:hsl(257, 7%, 63%);
}


.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid hsl(255, 11%, 22%);
    color:white;
    background:hsl(255, 11%, 22%);
    position: absolute;
    top: -47px;
    left: 25%;
    transform: translateX(-50%)
}
        
.card-body {
  position:relative;
  padding-top: 50px;
}

.circle img{
    margin-top: 15px;
}

 .card p{
    color:hsl(257, 7%, 63%);
 }

 /*.card_link {
    position: absolute;
    width: 10px;
    background-color: hsl(180, 66%, 49%);
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}*/

#card_link{
    border-bottom: 5px hsl(180, 66%, 49%);
    width: 10px;
}

.stat-text{
    width: 33vw;
    margin: auto;
}

.statcards{
    width: 80vw;
    margin: auto;
    
}

#card-1{
    padding-top: 70px;
    
}

#card-2{
    padding-top: 110px;
}

#card-3{
    padding-top: 150px;
    padding-bottom: 100px;
}

.boost-link{
    padding-top: 30px;
    height: 170px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22250%22%3E%3Cg%20fill%3D%22%234B3F6B%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M830-63.482C830%2019.351%20854.36%2078.678%20944.732%20117c90.371%2038.321%20177.686%203.352%20265.277%2023.4%2087.59%2020.048%2087.59%20149.195%20170.077%20228.671%2082.486%2079.476%20256.405%2098.781%20397.82%2018.15%20141.415-80.632%20205.52-268.896%20163.267-379.902C1898.919-103.687%201817.943-205%201427.236-205S830-146.314%20830-63.482zM-263.351%20570.909c29.685%2077.331%2073.689%20123.988%20171.79%20127.377%2098.102%203.39%20167.085-60.547%20256.043-73.22%2088.958-12.674%20135.24%20107.895%20240.73%20152.532%20105.488%2044.638%20274.775.333%20377.9-125.622C886.24%20526.021%20878.62%20327.29%20799.392%20238.798%20720.162%20150.307%20608.257%2084.743%20243.5%20224.76c-364.757%20140.017-536.537%20268.818-506.852%20346.149zM-514-377.482c0%2082.833%2024.36%20142.16%20114.732%20180.482%2090.371%2038.321%20177.686%203.352%20265.277%2023.4%2087.59%2020.048%2087.59%20149.195%20170.077%20228.671%2082.486%2079.476%20256.405%2098.781%20397.82%2018.15%20141.415-80.632%20205.52-268.896%20163.267-379.902C554.919-417.687%20473.943-519%2083.236-519S-514-460.314-514-377.482z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:hsl(260, 8%, 14%);
}



.boost-link button{
    background-color: hsl(180, 66%, 49%);
    border-radius: 20px;
    color: #ffffff;
    width: 130px;
    border: none;
    height: 37px;
    margin: auto;
    display: block;
}

footer{
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:hsl(260, 8%, 14%);
    height: 270px;
    color: hsl(0, 0%, 75%);
}

#whitelogo{
    margin-left: 20%;
}

footer h5{
    font-weight: 500;
    color: white;
}